body {
	font-family: "Segoe UI", sans-serif;
	background: #121212;
	color: #e0e0e0;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}
.container {
	max-width: 700px;
	width: 100%;
}
h2 {
	color: #ff0000;
	text-align: center;
} /* Inputs */
.input-group {
	display: flex;
	gap: 10px;
	margin-bottom: 15px;
}
input {
	flex: 1;
	padding: 12px;
	border-radius: 5px;
	border: 1px solid #333;
	background: #1e1e1e;
	color: white;
}

button {
	padding: 10px 20px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	font-weight: bold;
	transition: 0.2s;
}

.btn-action {
	background: #ff0000;
	color: white;
	align-items: center;
	justify-content: center;
}

.btn-action:hover {
	background: #cc0000;
	transform: scale(1.1);
}

/* Sync Button */
#btn-sync {
	width: 100%;
	background: #28a745;
	color: white;
	margin-bottom: 15px;
	display: none;
	padding: 15px;
	font-size: 1em;
}
#btn-sync:hover {
	transform: scale(1.05);
}

/* Player & Queue */
#player-wrapper {
	background: #000;
	border-radius: 10px;
	overflow: hidden;
	margin-bottom: 20px;
	aspect-ratio: 16/9;
	width: 100%;
}
.queue-section {
	background: #1e1e1e;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}
ul {
	list-style: none;
	padding: 0;
	margin-top: 10px;
}

#playlist-view li {
	display: flex;
	justify-content: space-between;
	padding: 12px;
	align-items: center;
	border-bottom: 1px solid #333;
	font-size: 0.95em;
	gap: 10px;
	min-height: 50px;
}

.item-content {
	flex-grow: 1;
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#playlist-view li:hover {
	background: #252525;
}

.index {
	color: #ff0000;
	font-weight: bold;
}

.delete-btn {
	display: none;
	margin-left: 10px;
	background: #ff4444;
	color: white;
	border: none;
	border-radius: 4px;
	padding: 5px 5px;
	cursor: pointer;
	width: 28px;
	height: 28px;
	font-weight: bold;
	line-weight: 1;
}

#playlist-view li:hover .delete-btn {
	display: flex;
	align-items: center;
	justify-content: center;
}

.sortable-ghost {
	opacity: 0.2;
	background: #444 !important;
}
